.row
	.col-xs-12.col-sm-12.col-md-12.col-lg-12.margin-bottom
		h3#motivation #{__('PromoTileMotivationTitle')}
.row
	.col-xs-12.col-sm-12.col-md-8.col-lg-8.margin-bottom
		p #{__('DescriptionComingSoon')}