.row
	.col-xs-12.col-sm-12.col-md-12.col-lg-12
		.promo.container-paddings
			span.bold.color-lime SportNode: 
			span #{__('SuperPowerful')} 
			span.color-lime #{__('Amp')} 
			span #{__('IntelligenceWorkoutTracker')}
