extends layout

block content
	include includes/promoLine

	.container-paddings
		include includes/aboutPanel

	.container-paddings
		include includes/aboutScheduler

	.container-paddings
		include includes/aboutTimer

	.container-paddings
		include includes/aboutMotivation
