extends layout

block content
	h1 Sport Node
	p Welcome!
	p Try our workout helper right now!

	div(style='height: 300px;')
		| Sign In with your favorite social service
		a(href='/auth/facebook' title='Facebook')
			.social-icon.s30.fb
