extends layout

block content
	h1 Sport Node
	p #{__('Welcome')}

	if (everyauth.loggedIn)
		a(href='/workouts') #{__('Workouts')}
	else
		div(style='height: 300px;')
			div #{__('SignInThirdPartyMsg')}
			.clearfix
				.pull-left
					a(href='/auth/facebook' title='Facebook')
						.social-icon.s30.fb
				.pull-left &nbsp;
				.pull-left
					a(href='/auth/vkontakte' title='VKontakte')
						.social-icon.s30.vk
