@card-text-color: #fff;
@card-header-background: #506565;
@card-footer-background-good: #97AD1B;
@card-footer-background-warning: #f0ad4e;
@card-footer-background-bad: #d9534f;

@lime: #aec71e;

@page-header-color: #3c454f;

@footer-height: 50px;